#folder
potatomate_frontend/src/views/
potatomate_frontend/src/components/
potatomate_frontend/src/assets/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
potatomate_frontend/.env
